.tp-filter {
	position:relative;
	display:none;
	margin-bottom:20px;
	background-color:$clr-grey;

	@include has-feature('waa-js') {
		display:block;
	}

	&__title {
		position:relative;
		margin:0;
		padding:10px;
		color:$clr-white;
		@include font-size(20);
		font-family:$font-tesco-handmade-bold;
		text-transform:uppercase;
		background-color:$clr-header;

		&:after {
			content:'';
			position:absolute;
			top:50%;
			right:15px;
			display:block;
			width:20px;
			height:13px;
			margin-top:-6px;
			background:transparent url(../images/mobile/dropdown-arrow.png) 0 0 no-repeat;
		}

		&--open:after { background-position:0 100%; }

		@include breakpoint(medium) {
			float:left;
			width:14%;
			padding:30px 5px 0 15px;
			color:$clr-dark;
			@include font-size(20);
			background-color:transparent;

			@include has-feature('has-js') {
				&:after { display:none; }
			}
		}
	}

	&__list {
		@extend %clearfix;
		list-style:none;
		width:100%;
		margin:0;
		padding:10px;
		background-color:$clr-grey;
	}

	&__item {
		list-style:none;
		padding:10px 0;
		line-height:35px;

		@include breakpoint(medium) {
			float:left;
			width:17.2%;
			padding-right:10px;
			padding-bottom:0;
			line-height:20px;
		}
	}

	&__list--loggedin &__item {
		@include breakpoint(medium) {
			width:14.3333%;
		}
	}

	&__name {
		@include breakpoint(medium) {
			display:block;
			clear:both;
			width:55px;
			text-align:center;
		}

		&--offer {
			@include breakpoint(medium) {
				position:relative;
				left:-15px;
				width:100px;
			}

		}
	}

	&__icon {
		float:left;
		width:35px;
		height:35px;
		margin-right:10px;
		background:transparent 0 0 no-repeat;

		@include breakpoint(medium) {
			margin:0 10px 5px;
		}

		$icons:('facebook', 'news', 'offer', 'twitter', 'youtube', 'yammer');

		@each $icon in $icons {
			&--#{$icon} {
				background-image:url(../images/items/#{$icon}.png);
			}
		}
	}
}
