.tp-filter {
	margin-bottom:20px;
	padding-top:10px;
	background-color:$clr-header;

	&__title {
		margin:0 10px 10px;
		color:$clr-white;
		@include font-size(20);
		font-family:$font-tesco-handmade-bold;
		text-transform:uppercase;
	}

	&__list {
		list-style:none;
		margin:0;
		padding:10px;
		background-color:$clr-grey;
	}

	&__item {
		@extend %clearfix;
		list-style:none;
		padding:10px 0;
		line-height:35px;
	}

	&__icon {
		float:left;
		width:35px;
		height:35px;
		margin-right:10px;
		background:transparent 0 0 no-repeat;

		$icons:('facebook', 'news', 'offer', 'twitter', 'youtube', 'yammer');

		@each $icon in $icons {
			&--#{$icon} {
				background-image:url(../images/items/#{$icon}.png);
			}
		}
	}
}
