.advent-day {

	&__title {
		width:100%;
		min-height:112px;
		padding:29px 0 0 9px;
		color:#fff;
		@include font-size(28);
		text-align:center;
		background:url(../images/mobile/header-400.png) 50% 0 no-repeat;

		@include hidpi-query() {
			background-image:url(../images/mobile/header-800.png);
			background-size:400px 112px;
		}
	}
}

