.touchpoints-tree-container {
	position:relative;
	margin:0 0 50px;
	padding:0;
	background:#c6c6c6 url('../images/background/background-stars.jpg') 50% 0 repeat-x;
}

.touchpoints-tree-container canvas {
	display:block;
	position:absolute;
	top:0;
	left:0;
	max-width:100%;
	margin:0 auto;
	padding:0;
}

#tree-canvas {
	z-index:10;
	background:url('../images/background/background.png') 50% 0 no-repeat;
}

#flakes-canvas { z-index:0; }
#twinkles-canvas { z-index:100; }

.touchpoints-loading-content {
	position:absolute;
	top:350px;
	left:50%;
	z-index:1000;
	width:220px;
	margin-left:-110px;
	padding:10px 0 10px 50px;
	text-transform:uppercase;
	background:$clr-white url(../images/common/loading.gif) 10px 50% no-repeat;
	border-radius:5px;

	p {
		margin:5px 0 0;
		color:$clr-sky;
		font-family:$font-tesco-handmade-bold;
		@include font-size(18);
		line-height:1;
	}
}
