$base-font-size: 16px;

$breakpoints: (
	'x-small' 500px,
	'small' 770px,
	'medium' 992px,
	'large' 1200px,
	'x-large' 1540px
);

$font-tesco:"tesco", arial, sans-serif;
$font-tesco-bold:"tescoBold", arial, sans-serif;
$font-tesco-italic:"tescoItalic", arial, sans-serif;
$font-tesco-handmade:"tescoHandmade", arial, sans-serif;
$font-tesco-handmade-bold:"tescoHandmadeBold", arial, sans-serif;

$clr-black:#000;
$clr-white:#fff;
$clr-grey:#f0f0f0;

$clr-header:#31859C;
$clr-stop:#EE1C2E; // Tesco Red
$clr-sky:#00539F; // Tesco Blue

$clr-border:#c6c6c6;
